{{#Country}}
  <div class="value value--top">{{Country_EN}}</div>
  {{#Country info_EN}}<div class="info">{{Country info_EN}}</div>{{/Country info_EN}}

  <hr>

  <div class="type">Country</div>
  <div class="value">?</div>
{{/Country}}

--

<div class="value value--top">{{Country_EN}}</div>
{{#Country info_EN}}<div class="info">{{Country info_EN}}</div>{{/Country info_EN}}

<hr id=answer>

<div class="type">Country</div>
<div class="value">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}
